header
{
  text-align: center;
  background-color: #DEE3E8;
  /*border-radius: 0px;*/
  padding: 20px 0 20px 0;
  width: 100%;
  margin-bottom:30px;
}

#logo img
  {
    right 100%;
  }
